$nav-background-color: #FFCACC;
$primary-color: #fff;
$secondary-color: #000;
$tertiary-color: rgba(40, 4, 52, 0.2);
$primary-text-color: #1d1515;
$secondary-text-color: #000;
$home-background-color: #D4E2D4;
$gallery-background-color: #FAF3F0;